<a href="https://colab.research.google.com/github/BiancaTaisePommerening/Internet_Prices/blob/exploratory_analysis/exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Internet Prices Dataset

In [2]:
import pandas as pd

In [1]:
# load the dataset
from google.colab import files
uploaded = files.upload()

Saving worldwide internet prices in 2022 - IN 2022.csv to worldwide internet prices in 2022 - IN 2022.csv

In [5]:
internet_prices_df = pd.read_csv("worldwide internet prices in 2022 - IN 2022.csv")

internet_prices_df

,Country code,Name,Continental region,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Average price of 1GB (USD at the start of 2021),Average price of 1GB (USD – at start of 2020)
0,IL,Israel,NEAR EAST,27.0,$0.05,$0.02,$20.95,$0.11,$0.90
1,KG,Kyrgyzstan,CIS (FORMER USSR),20.0,$0.15,$0.10,$7.08,$0.21,$0.27
2,FJ,Fiji,OCEANIA,18.0,$0.19,$0.05,$0.85,$0.59,$3.57
3,IT,Italy,WESTERN EUROPE,29.0,$0.27,$0.09,$3.54,$0.43,$1.73
4,SD,Sudan,SUB-SAHARAN AFRICA,33.0,$0.27,$0.03,$0.92,$0.63,$0.68
...,...,...,...,...,...,...,...,...,...
237,VA,Vatican City (Holy See),Europe,NaN,NO PROVIDERS,NaN,NaN,NaN,NaN
238,VE,Venezuela,SOUTH AMERICA,NaN,HYPERINFLATION,NaN,NaN,NaN,NaN
239,WF,Wallis and Futuna,OCEANIA,NaN,NO PROVIDERS,NaN,NaN,NaN,NaN
240,CD,Congo (Democratic Republic of),SUB-SAHARAN AFRICA,NaN,Prices listed in non-convertible 'units',NaN,NaN,NaN,NaN
241,ZW,Zimbabwe,SUB-SAHARAN AFRICA,NaN,UNRELIABLE EXCHANGE RATES,NaN,NaN,NaN,NaN

In [7]:
internet_prices_df.describe()

       NO. OF Internet Plans
count              230.000000
mean                26.730435
std                 16.468216
min                  1.000000
25%                 15.000000
50%                 22.000000
75%                 36.000000
max                 60.000000

In [9]:
internet_prices_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 9 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Country code                                      241 non-null    object
 1   Name                                              242 non-null    object
 2   Continental region                                242 non-null    object
 3   NO. OF Internet Plans                             230 non-null    float64
 4   Average price of 1GB (USD)                        242 non-null    object
 5   Cheapest 1GB for 30 days (USD)                    230 non-null    object
 6   Most expensive 1GB (USD)                          230 non-null    object
 7   Average price of 1GB (USD  at the start of 2021)  230 non-null    object
 8   Average price of 1GB (USD – at start of 2020)     230 non-null    object
dtypes: float64(1), object(8)
memory usage: 17.1+ KB